@charset "UTF-8";

body {
    font-family: system-ui, -apple-system, sans-serif;
    line-height: 1.7;
}

.has-skyblue-background-color {
    background-color:#00A1C6;
}
.has-light-skyblue-background-color {
    background-color: #ecf5f7;
}
.has-light-gray-background-color {
    background-color: #F7F6F5;
}
.has-gray-background-color {
    background-color: #767268;
}
.has-dark-gray-background-color {
    background-color: #43413B;
}